<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card p-3 mb-3" *ngFor="let item of cartProductList">
        <div class="d-flex">
          <img
            class="productImg object-fit-contain"
            src="{{ item.ProductData.ImageUrl }}"
            alt=""
          />
          <div class="mx-3">
            <h4>{{ item.ProductData.ProductName }}</h4>
            <p>{{ item.ProductData.BrandName }}</p>
            <h3 class="text-danger">
              {{ item.ProductData.Price | currency : "INR" }}
            </h3>
            <div class="d-flex">
              <img class="ratingBg" src="/assets/rating.jpg" />
              <p class="">{{ item.ProductData.Rating }}/5</p>
            </div>
            <div class="d-flex align-items-center">
              <button
                class="btn btn-danger fw-bold btn-sm"
                (click)="minusQuantity(item)"
              >
                -
              </button>
              <h5 class="mx-3">{{ item.Quantity }}</h5>
              <button
                class="btn btn-success fw-bold btn-sm"
                (click)="addQuantity(item)"
              >
                +
              </button>
            </div>

            <button class="btn btn-primary mt-2" (click)="removeFromCart(item)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <h2 class="text-danger">
            Total : {{ totalPrice | currency : "INR" }}
          </h2>

          <input
            class="form-control mt-3 form-control-lg"
            type="text"
            [(ngModel)]="OrderData.CustomerName"
            placeholder="Name"
            required
          />

          <input
            class="form-control mt-3 form-control-lg"
            type="text"
            [(ngModel)]="OrderData.CustomerPhone"
            placeholder="Phone"
            required
          />

          <textarea
            class="form-control mt-3 form-control-lg"
            type="text"
            [(ngModel)]="OrderData.DeliveryAddress"
            placeholder="Address"
            required
          ></textarea>

          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ OrderData.PaymentMode }}
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  class="dropdown-item"
                  (click)="OrderData.PaymentMode = 'Pay On Delivery'"
                >
                  Pay On Delivery
                </button>
              </li>

              <li>
                <button
                  class="dropdown-item"
                  (click)="OrderData.PaymentMode = 'BHIM UPI'"
                >
                  BHIM UPI
                </button>
              </li>
            </ul>
          </div>

          <div class="mt-3" *ngIf="OrderData.PaymentMode == 'BHIM UPI'">
            <p>Scan this qr code to complete payment and then place order !</p>
            <img
              src="/assets/ShopCartQrCode.png"
              style="height: 250px; width: 250px"
            />
          </div>

          <button class="btn btn-primary mt-3 fw-bold" (click)="placeOrder()">
            Check-Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
