<footer>
  <div class="row">
    <div class="row d-flex justify-content-center pt-3">
      <div class="col-md-4">
        <p class="mx-2">Connect with us !</p>
        <a href="https://www.facebook.com/" target="_blank">
          <div class="d-flex align-items-center">
            <img
              src="https://img.icons8.com/color/48/null/facebook-new.png"
              class="p-1"
            />
            <h6>Facebook</h6>
          </div>
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <div class="d-flex align-items-center">
            <img
              src="https://img.icons8.com/color/48/null/youtube-play.png"
              class="p-1"
            />
            <h6>YouTube</h6>
          </div>
        </a>

        <a href="https://www.linkedin.com" target="_blank">
          <div class="d-flex align-items-center">
            <img
              src="https://img.icons8.com/color/48/null/linkedin.png"
              class="p-1"
            />
            <h6>Linkedin</h6>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <p class="mx-2">Reach us !</p>
        <div class="d-flex align-items-center">
          <img
            src="https://img.icons8.com/color/48/null/circled-envelope.png"
            class="p-1"
          />
          <h6>Email : contact-us@shopcart.com</h6>
        </div>

        <div class="d-flex align-items-center">
          <img
            src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/null/external-landline-networking-smashingstocks-flat-smashing-stocks.png"
            class="p-2"
            style="height: 55px; width: 55px"
          />
          <h6>Landline : 0110-253689</h6>
        </div>

        <div class="d-flex align-items-center">
          <img
            src="https://img.icons8.com/arcade/64/null/phone-disconnected.png"
            class="mx-1"
            style="height: 48px; width: 48px"
          />
          <h6>Toll Free : 1800 050 369</h6>
        </div>
      </div>
      <hr />
      <p class="text-center text-center">
        *** Built with Angular & .NET Rest Api ***
      </p>
    </div>
  </div>
</footer>
