img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.ratingBg {
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.btn {
  width: 150px;
}

.spy {
  height: auto;
  overflow-x: scroll;
}

