<div class="container">
  <div class="card mt-4 p-2" *ngFor="let o of api.myOrderList">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-3">
        <img
          class="object-fit-contain w-100 position-relative"
          src="{{ o.Product.ImageUrl }}"
        />
        <div class="text-center m-5" *ngIf="o.Product.ImageUrl == ''">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h5>{{ o.Product.ProductName }}</h5>
        <h3>{{ o.Product.Price | currency : "INR" }}</h3>
        <h6>Qty : {{ o.Order.Quantity }}</h6>
      </div>

      <div class="col-md-3">
        <h6>
          Delivery Address <br />
          <p>{{ o.Order.DeliveryAddress }}</p>
        </h6>

        <button class="btn btn-light" (click)="printInvoice(o)">
          Print Invoice
        </button>
      </div>
    </div>
  </div>
</div>
