/* You can add global styles to this file, and also import other style files */
/* body {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
.bgImg {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100%;
  
}
